<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Crear nuevo criterio</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
      <span class="input-label">Descripcion</span>
      <textarea name="name" rows="8" cols="40" ng-model="data.description">
      </textarea>
      </label>
      <button class="button button-full button-positive" ng-click="createCriteria(data)">Crear</button>
    </div>

  </ion-content>
</ion-modal-view>
