<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Trastorno" icon-off="ion-sad-outline" icon-on="ion-sad-outline" href="#/tab/disorder">
    <ion-nav-view name="tab-disorder"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Criterios" icon-off="ion-help" icon-on="ion-help" href="#/tab/criteria">
    <ion-nav-view name="tab-criteria"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Ajustes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
